<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.revibek.youtube.mapper.YoutubeMapper">

    <insert id="insertChannel" parameterType="com.ssafy.revibek.youtube.dto.YoutubeChannelDto">
        INSERT IGNORE INTO youtube_channels (url, channel_id, channel_name, uploads_playlist, last_checked_at)
        VALUES (#{channelUrl}, #{channelId}, #{channelName}, #{uploadsPlaylist}, NOW())
    </insert>

    <select id="findChannelIdByChannelId" parameterType="String" resultType="String">
        SELECT id FROM youtube_channels WHERE channel_id = #{channelId}
    </select>

	<insert id="insertVideo" parameterType="com.ssafy.revibek.youtube.dto.YoutubeVideoDto">
	    INSERT IGNORE INTO youtube_videos_raw
	        (channel_id, video_id, video_url, video_title, title, duration_seconds, published_at)
	    VALUES
	        (#{channelId}, #{videoId}, #{videoUrl}, #{videoTitle}, #{videoTitle}, #{durationSeconds}, #{publishedAt})
	</insert>

</mapper>